body{
    background-color: #ffffff;
}

#wrap, #cellCenter{
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    border: 0;
}


#cellCenter{
    vertical-align:middle;
    overflow: hidden;
}

#container{
    min-width: 1024px;
    max-width: 1200px;
    width: 100%;
    min-height: 768px;
    max-height: 900px;
    height: 100%;
    position: relative;
    margin:auto;
}

#mainbg {
    position: relative;

}

#navBar {
    position: relative;
    padding-top: 7px;
    height: 28px;
    display: block;
    width: 100%;
    font-size: 13px;
    background-color: #ffffff;
}

.narBar_link{
    color: #aaa;
    display:inline;
    margin:0 5px 0 20px;
    text-decoration:none;
}

.narBar_link:hover{
    text-decoration:underline;
}

/* Set the fixed height of the footer here */
#footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 35px;
    clear: both;
    background-color: #ffffff;
    font-size:small;
}

#footer_content{
    padding-top: 10px;
}

#footer_copyright{
    color: #666;
    display:inline;
    margin-left: 20px;
}

.footer_link{
    color: #777;
    float:right;
    display:inline;
    margin:0 20px 0 0px;
    text-decoration:none;
}

.footer_link:hover{
    text-decoration:underline;
}

#title{
	position:absolute;
	top: 10%;
	width: 1140px;
	text-align:center;
	font-size:40px;
}

#searchBox {
    position:absolute;
    top: 26%;
    left: 32%;
    width: 1028px;
    margin: 0;
}


#logo {
    width: 132px;
    height: 52px;
    margin: -7px 21px 0 0;
    
    background-position: 0 0;
    background: url(../img/bing_logo_white_small.png) no-repeat;
    float: left;
}

#logo_descript{
    position: absolute;
    top: 45px;
    left: 54px;
    width:auto;
    height:18px;
    overflow:hidden;
    color: #bbb;

}


#keyword {
    float: left;
    margin: 0 0 -1em;
    width: 415px;
    height: 42px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: medium;
    outline:none;
    border: 1px #e5e5e5 solid;
    -webkit-appearance: none;
}

#search_button{
    position:relative;
    margin: 4px 0 0 -41px;

    background: url(../img/bing_search_small.png) no-repeat center #0026ff;
    background-position: 1px 1px;

    overflow: hidden;
    cursor: pointer;
    width: 37px;
    height: 37px;
    border: 5px solid #0026ff
}